/build

*.make
cmake_install*
*.internal
*.dirstamp
*.swp
camera/.deps/
main/.deps/
camera/CMakeFiles/
camera/stockbuffers/
imgproc/CMakeFiles/
main/Makefile
camera/Makefile
main/CmakeFiles/
Cmakefiles/
install_manifest.txt
CMakeCache.txt
Makefile
main/uavPayload
tags
